.primary {
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  background: #ef7c00;
  color: aliceblue;
  text-align: center;
  font-size: 15px;
  font-family: Montserrat;
  line-height: 20px;
  transition: .3s ease-out;
  &:hover{
    background-color: #cd6b03;
  }
}
